/* Write your CSS here */
.iconclockparacont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.headingcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tabcontainer {
  border-style: none;
  padding-left: 4px;
  padding-right: 4px;
  height: 50px;
  border-radius: 3px;
  background-color: lavender;
  color: black;
  list-style: none;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ullistcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
}
